body {
    font-family: Arial;
    color: steelblue;
}

.add-article-form {
    font-size: 12pt;
    font-weight: bold;
    margin: 10px;
}

.form-control {
    font-family:Arial;
    width: 100%;
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 12pt;
    margin: 10px;
}

.form-btn {
    background-color: aliceblue;
    color: steelblue;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 12pt;
    margin: 5px;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;
    text-align: left;
}
caption {
    caption-side: top;
    text-align: left;
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: steelblue;    
}
th {
    color: steelblue;
    background-color: aliceblue;
    border-bottom: 3px solid grey;
    padding: 10px;
}
td {
    border-bottom: 1px solid grey;
    padding: 10px;
}

/*Стиль столбца с текстом статьи*/
table td:nth-child(2){
   width: 50%;
}

.editBtn, .deleteBtn, .moreBtn {
    text-decoration: underline;
    cursor: pointer;
    color: grey;
}

.errorLog p{
    color: orangered;
    padding: 5px;
}

.complete {
    display: none;
}
